# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
.venv/
*/migrations/
!*/migrations/__init__.py

# Django
*.log
local_settings.py
db.sqlite3

# Pycharm/VSCode
.vscode/

staticfiles/
static
media
